#header {
  color:white;
  font-size: 50px;
  height: 150px;
  margin: 0px;
  padding-top: 3%;
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;

  }
 html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

 body {
  background-color: #9fa8da;
  background: linear-gradient(#00004f, #9fa8da);
  background-repeat: : no-repeat;
  background-attachment: fixed;

  margin-top: 0px;

 }

h1 {

  font-family: 'Raleway';
	font-size: 48px;
	font-style: bold;
	font-variant: normal;
	font-weight: 400;
	line-height: inherit;
  color: white;
}

#Richard {
  /* margin-left: 75px; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  line-height: 350px;
  /* text-align: center; */
  /*background: #b6ffff;*/
  border: 3px solid white;
  position: relative;
  top: 50px;
  left:50px;
  display: inline-block;
  flex: 1;

}

#Dena {
  /* margin-left: 75px; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  line-height: 350px;
  /* text-align: center; */
  border: 3px solid white;
  position: relative;
  top: 50px;
  left:150px;
  display: inline-block;
  flex: 1;
}
#Moises {
  /* margin-left: 75px; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  line-height: 350px;
  /* text-align: center; */
  border: 3px solid white;
  position: relative;
  top: 50px;
  left:250px;
  display:inline-block;
  flex: 1;
}

#nameDena {
    color:white;
    font-size: 30px;
    /* height: 100px; */
    /* margin: 0px; */
    /* padding-top: 3%; */
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top:150px;
    right: 0px;
    display: inline-block;
    flex: 1;
    display: inline-flex;


}

#nameMoises {
  color:white;
  font-size: 30px;
  /* height: 100px; */
  /* margin: 0px; */
  /* padding-top: 3%; */
  text-align: right;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top:150px;
  right: 200px;
  display: inline-block;
  display: inline-flex;
  flex: 1;



}

#nameRichard {
  color:white;
  font-size: 30px;
  /* height: 100px; */
  /* margin: 0px; */
  /* padding-top: 3%; */
  text-align: left;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top:150px;
  left: 185px;
  display: inline-block;
  display: inline-flex;
  flex: 1;



}

.pics {
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  width: 100%;
}
