a:link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #eaebf2;
  margin: 0px;
  padding: 0px;
}

form {
  text-align: center;
  padding: 0;
}

fieldset {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 58%;
}

h1 {
  float: left;
  font-family: 'Raleway', sans-serif;
	font-size: 56px;
	font-variant: normal;
	font-weight: 400;
	line-height: 0px;
  margin-top: 15px;
  color: #ffffff;
  padding-top: 0;
  padding-left: 5px;
  position: absolute;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
  color: black;
}

h3 {
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-size: 64px;
  line-height: 0px;
  text-align: center;
}

#button {
font-size: 18px;
color: white;
background-color: #283593;
border-radius: 10px;
outline: none;
}

#container{
  background-color: #283593;
  display: flex;
  line-height: 8px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Raleway';
}

#dash {
  margin: 0;
  position: relative;
  top: 0px;
}

#dash li {
  display: inline-block;
  padding: 5px;
  text-align: center;
  padding-bottom: 10px;
}

#dashpic {
  border-radius: 50%;
  height: 40px;
  margin: 0px;
  padding-bottom: 0px;
  width:40px;
}

#firstline div {
    display: inline-grid;
    grid-template-columns: 8% 32% 60%;
    width: 90%;
}

#header {
  background-color: #283593;
  font-size: 20px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#hello {
  color: #ffca28;
  vertical-align: middle;
  position: relative;
  top: 15px;
  flex: 1;
}


#info {
  text-align: justify;
  outline: none;
  border-radius: 5px;
  border: 2px solid #484848;
  /* border: 2px solid #ffca28; */
  /* border: 2px solid #283593; */
  font-family:'Raleway';
  font-size: 14px;
  color: gray;
}

#mainpic {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#postbody {
  overflow: auto;
  vertical-align: middle;
  padding: 10px;
  text-align: left;
  width: 100%;
}


#profile ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#profile li {
  text-align: center;
}

#profilepic {
  border-radius: 50%;
  height: 40px;
  margin: 0px;
  padding-bottom: 0px;
  width:40px;
}

#search {
  flex: 1;
  position: relative;
  top: 8px;
    margin-right:15%;
}

#search button {
  background: transparent;
  border: 0;
  position: absolute;
  height: 20px;
}

#search input {
  background: transparent;
  border: 0px solid white;
  outline: none;
  width: 100%;
  text-height: 10px;
}

#search [type=text] {
    width: 180px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.2s ease-in-out;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
}

#search [type=text]:focus {
    width: 50%;
}

#signout {
  margin: 2%;
}

#wrapper {
  min-height: 100%
}

i.material-icons {
  font-size: 40px;
  color: white;
}

#userfeed {
  background-color: white;
  border-top: 7px solid #ffca28;
  border-radius: 10px;
  font-family: 'Lato';
  margin-bottom: 2%; */
  width: 100%;
  margin: 1%;
  padding: 0;
}

#userfeed ul {
  list-style-type: none;
  display: grid;
  grid-row: auto;
  text-align: left;
  width: 100%;
  padding: 0;
}

ul {
  list-style-type: none;
}

#writecomment {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1%;
  font-size: 15px;
  outline: none;
}

#individualcomments {
  font-size: 15px;
  text-align: left;
  padding: 2px;
}

#allcomments {
  height: 90px;
  overflow-y: scroll;
  text-align: left;
  padding-left: 20px;
}

#button {
  font-size: 18px;
  color: white;
  background-color: #283593;
  border-radius: 10px;
  outline: none;
}

#miscinfo {
  text-align: left;
  display: table-row;
  margin: 0px;
  padding: 0;
  vertical-align: text-bottom;
  top: 40px;
  bottom: 10px;
  border-bottom: 1px solid #283593;
}

#miscinfo input {
  width: auto;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 1%;
  outline: none
}


.like {
  float: left;
  font-size: 14px;
  color: #283593;
  border: none;
  background-color: #eaebf2;
  border-radius: 10px;
  outline: none;
}

i.material-icons {
  font-size: 40px;
  color: white;
}

.comment {
  font-size: 14px;
  color: #283593;
  border: none;
  background-color: #eaebf2;
  border-radius: 10px;
  outline: none;
}

img.post_image {
  padding: 0;
  width: 240px;
}

#timestamp {
  font-size: 12px;
  color: #bebfc6;
}

#firstline {
  display: inline-block;
  width: 100%;
  /* padding-right: 30px; */
  padding-left: 10px;
  text-align: left;
}

.filterDiv {
  width: 60%;
}



@media only screen and (max-width: 600px) {
  body {
    width: auto;
  }
  form {
    text-align: center;
    margin: 2%;
  }
  fieldset {
    width: auto;
  }
  h1 {
    float: center;
    font-family: 'Raleway', sans-serif;
   font-size: 56px;
   font-variant: normal;
   font-weight: 400;
   line-height: 0px;
    margin-top: 15px;
    color: #ffffff;
    padding-top: 0;
    padding-left: 5px;
    position: absolute;
  }
  h3 {
    font-size: 30px;
  }
  select {
    flex: 1;
    width: 100%;
  }
  #container{
    background-color: #283593;
    display: flex;
    line-height: 15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  #dashpic {
    border-radius: 50%;
    color: transparent;
    height: 40px;
    margin: 0px;
    padding-bottom: 0px;
    width:40px;
  }
  #firstline div {
    font-size: 20px;
    grid-template-columns: 10% 55% 30%;
    margin: 1%;
  }
  #header {
    background-color:#283593;
    font-size: 20px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
  }
  #hello {
    color: #ffca28;
    vertical-align: middle;
    position: relative;
    top: 15px;
    flex: 1;
  }
  #miscinfo {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0px;
    padding: 0;
    vertical-align: text-bottom;
    top: 40px;
    bottom: 5px;
    border-bottom: 1px solid #283593;
  }
  #miscinfo input {
    width: 140px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 1%;
    outline: none
  }
 #myBtnContainer {
     display: none;
}
 #otherusers {
   display: none;
 }
 #post {
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: white;
   border: 1px solid white;
   border-radius: 8px;
   flex: auto;
   text-align: center;
   margin: 1px;
   width: 100%;
   /* height: 10%; */
 }
 #select {
   width: 100%;
 }
 #userfeed {
   background-color: white;
   border: 1px solid white;
   border-top: 7px solid #ffca28;
   border-radius: 10px;
   font-family: 'Lato';
   /* margin-left: 10%; */
   margin-bottom: 2%; */
   width: 100%;
   margin: 1%;
   /* height: 15%; */
   padding: 0;
 }
 .comment {
   font-size: 12px;
   color: #283593;
   border: none;
   background-color: #eaebf2;
   border-radius: 10px;
   outline: none;
 }
 .filterDiv {
   width: auto;
 }
 .like {
   float: left;
   font-size: 12px;
   color: #283593;
   border: none;
   /* #ffca28 */
   /* background-color: #283593; */
   background-color: #eaebf2;
   /* background-color: white; */
   border-radius: 10px;
   outline: none;
 }
 .mainbody {
   display: grid;
   grid-template-columns: auto;
   margin-top: 33%;
   height: 97%;
   width: auto;
 }
 element.style {
   font-size: 10px;
   grid-template-columns: auto auto auto ;
   width: 100%;
 }
}
