body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.current {
    background-color: #eedd82;
    color: white;
}

h1 {
  float: left;
  font-family: 'Raleway', sans-serif;
	font-size: 56px;
	font-style: bold;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  color: #ffffff;
  padding-left: 10px;

}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
  color: #f2ffff;
}

h3 {
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-size: 64px;
  line-height: 0px;
  text-align: center
}

form {
  text-align: center;
}

#container{
  background-color: #e2e2e2;
  display: flex;
  line-height: 10px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#dash {
  text-align: center;
}

#dash li {
  color: black;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

#header {
  background-color: #229118;
  font-size: 30px;
  height: 110px;
  margin: 0px;
  padding-top: 3%;
  text-align: center;
  width: 100%;
}

#profilepic {
  border-radius: 50%;
  height: 100px;
  margin: 0px;
  padding-bottom: 0px;
  width:100px;
}

#wrapper {
  min-height: 100%
}
