body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.current {
    background-color: #eedd82;
    color: white;
}

h1 {
  float: left;
  font-family: 'Raleway', sans-serif;
	font-size: 56px;
	font-style: bold;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  color: #ffffff;
  padding-left: 10px;
}

/* h2 {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
  color: #f2ffff;
} */

h3 {
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-size: 64px;
  line-height: 0px;
  text-align: center
}

form {
  text-align: center;
}

#container{
  background-color: #e2e2e2;
  display: flex;
  line-height: 10px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#dash {
  text-align: center;
}

#dash li {
  color: black;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

#header {
  background-color: #229118;
  font-size: 30px;
  height: 110px;
  margin: 0px;
  padding-top: 3%;
  text-align: center;
  width: 100%;
}

#nav {
  font-family: 'Lato', sans-serif;
  float: left;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 200px;
}

#nav ul {
    background-color: #f1f1f1;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }

#nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#nav li a:hover {
    background-color: #555;
    color: white;
}

#profilepic {
  border-radius: 50%;
  height: 40px;
  margin: 0px;
  padding-bottom: 0px;
  width:40px;
}

#search {
  flex: 1;
  position: relative;
}

#search button {
  background: transparent;
  border: 0;
  position: absolute;
  /* height: 18px; */
}

#search input {
  background: transparent;
  border: 0;
  width: 100%;
  /* text-height: 14px; */
}

#search [type=text] {
    width: 180px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.2s ease-in-out;
    border: 1px solid #444444;
    border-radius: 10px;
    font-size: 18px;
}

#search [type=text]:focus {
    width: 50%;
}

#wrapper {
  min-height: 100%
}

.mainbody {
  margin-left: 240px;
}
