#button {
font-size: 18px;
color: white;
background-color: #283593;
border-radius: 10px;
outline: none;
}



#header {
  /*background-color: #b6ffff;*/
  font-size: 50px;
  height: 150px;
  margin: 0px;
  padding-top: 3%;
  text-align: center;
  width: 100%;

}
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #9fa8da;
  background: linear-gradient(#00004f, #9fa8da);
  background-repeat: : no-repeat;
  background-attachment: fixed;
 /*background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg');*/
  /* background-position: center;*/
  margin-top: 0px;

}

h1 {
  /*font-family: 'Athiti', sans-serif;*/
  font-family: 'Raleway';
	font-size: 48px;
	font-style: bold;
	font-variant: normal;
	font-weight: 400;
	line-height: inherit;
  color: white;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
  color: grey;
}

h3 {
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-size: 64px;
}
form {

}

h4 {
  color: white;
  font-size:20px;
  font-family: 'Raleway';
}
fieldset {
  border: 0px none;
  /* background-color: white; */
  /* border-radius: 8px; */
  display: block;
  text-align: center;
}
p {
  font-family: 'Lato', sans-serif;
}

.abcRioButtonLightBlue {
    background-color: #fff;
    color: pink;
}



.confirm {

  /* background-color: #757575;
  background: linear-gradient(#cfcfcf,#757575); */
  margin-top: 0px;
  /* padding-top: 30px;
  padding-bottom: 10px; */
}


.introtext {
  top: 400px;
  left: 200px;
  text-align: top;
  padding-top: 5%;
  margin: 0;
  width: 100%;
}

.g-signin2 {
  margin: 0 auto;
  width: 100px;
  position:relative;;
  bottom: 200px;
  color: black;

}

.confirm {
  display: none;
}

.circle {

  width: 420px;
  height: 420px;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  line-height: 350px;
  text-align: center;
  /*background: #b6ffff;*/
  border: 3px solid white;
  position: relative;
  bottom: 50px;
}

#pic {
  border-radius: 50px;
}
