<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- <link rel="stylesheet" href="stylesheets/aboutus.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/aboutus.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>About Us</title>
  </head>
  <body>
    <h1 id='header'> Meet the Creators</h1>
     <!-- <div>
      <h2 id='nameRichard'>Richard</h2>
    </div> -->
      <!-- <div
      <h2 id='nameDena'>Dena</h2>
    </div> -->
    <!-- <div>
      <h2 id='nameMoises'> Moises</h2>
    </div> -->
<!--
</ul>
  <ul class='pics'>
  <div class="circle" style=>
  <li> <img id="Richard" src= "https://bit.ly/2Kif3jG" alt="Richard"></li>
  </div>
  <div>
  <li>  <img id="Dena" src="https://bit.ly/2O4IZlU" alt="Dena"></li>
  </div>
  <div>
  <li>  <img  id="Moises" src= "https://bit.ly/2v9p3qS"alt= "Moises"></li>
</div>

</ul> -->
<div class="row">
<div class="richard">
  <div>
   <h2 id='nameRichard'>Richard</h2>
 </div>
  <div class="circle" style="margin: auto; width: 300px; display: block;">
  <img src="https://bit.ly/2Kif3jG" style="margin: auto; width: 300px; height:300px;display: block;">
  <div class="text">
    <p style="margin-top:70px;">I am from Bellevue, Washington. In my free time I enjoy listening to music (mainly 90s hip hop and some edm), watching reruns of Friends, and skiing. This fall, I'll be attending the University of California, Berkeley to study computer science and business under the M.E.T. program.</p>
  </div>

</div>
</div>
<div class="dena">
  <div>
  <h2 id='nameDena'>Dena</h2>
</div>
  <div class="circle" style="margin: auto; width: 300px; display: block;">
  <img src="https://bit.ly/2OBNohf" style="margin: auto; width: 300px; height:300px;display: block;">
  <div class="text">
    <p style="margin-top: 60px;"> I will be attending the University of Washington this fall majoring in Human Centerd Design Engineering. I enjoy playing soccer and tennis and love to travel. I value diversity and equality and am ready to change this world :)</p>
  </div>


</div>
</div>
<div class="moises">
  <div>
    <h2 id='nameMoises'>Moises</h2>
  </div>
  <div class="circle" style="margin: auto; width: 300px; display: block;">
  <img src="https://bit.ly/2v9p3qS" style="margin: auto; width: 300px; height:300px;display: block;">
  <div class="text">
    <p style="margin-top: 60px;">I live in Wilson, North Carolina. I enjoy trying new things, hanging out with friends, and playing futsol or tennis. I will be attending the University of North Carolina at Charlotte this fall and plan on majoring in Computer Science.</p>
  </div>


</div>
</div>
</div>

  </body>
</html>
