<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="stylesheets/aboutus.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/aboutus.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>About Us</title>
  </head>
  <body>
    <h1 id='header'> Meet the Creators</h1>
  <ul class='circles'>
  <li>  <p id="circle"></p> </li>
  <li>  <p id="circle2"></p> </li>
  <li>  <p  id="circle3"></p> </li>
</ul>



  </body>
</html>
