<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>camp·us</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="scripts/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="928270275694-v9phsaerghg67cinbriumsbt05nij68k.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato|Merriweather|Muli|Nanum+Gothic|Open+Sans|Playfair+Display|Poiret+One|Raleway|Roboto');
      @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    </style>
  </head>
  <body>
     <a name="top"></a>
     <!-- to make the sticky -->
    <div id='wrapper' class='sticky'>
      <!-- the header -->
      <div id="header">
        <h1> <a href='index?' style='color: white;'>camp·<span style="color:#ffca28">us</span></h1>
            </div>
        <!-- the top navigation bar -->
      <div id='dash'>
        <ul style="font-family: 'Raleway'" id='container'>
          <li> <a href='index?'> <i class="material-icons">home</i> </a> </li><br>
          <li id='hello'>Hello, {{ first_name }}!</li>
          <!-- <li id='search'>
            <form action="" style='padding-left: 5%;padding-right: 5%;'>
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><img src='https://svgsilh.com/svg/1976105.svg' height='18px'; width='18px'></button>
            </form> </li> -->
            <li class='dropdown'><a href='/index?' class='dropbtn' ><img src="{{ dp_url }}" alt="Profile Picture" id='dashpic'></a>
              <div class='dropdown-content'>
                <a href='/profile'>profile</a>
                <a href='/aboutus'>about us</a>
                  <a href="/logout">logout</a>
              </div>
            </li>
      </ul>
    </div>
  </div>
  <center>
  <div class='mainbody'>
    <!-- the side bar -->
      <div id="myBtnContainer">
        <ul>
          <li><button class="btn active" type="button" onclick="filterSelection('all')">All</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('sch')">Schoolwork</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('ann')">Announcements</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('que')">Questions</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('off')">Offers</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('for')">For sale</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('con')">Confessions</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('mis')">Misc</button></li>
        </ul>
      </div>
        <!-- the whole main body -->
    <div class="feed">
      <!-- to post stuff -->
      <form style="font-family: 'Lato', sans-serif; font-size: 15px;" method="post" action="/index">
        <fieldset id='post'>
          <p> <input style="border: none; font-size: 15px; outline: none;" type="text" name="text" placeholder='Type something...'> </p> &emsp;
          <p> <input style="border: none;font-size: 15px; outline: none;" type="text" name="img_url" placeholder='Insert image url...'> </p>
          <select id='select'style="font-size: 15px; width: 18%;" name="type">
            <option value="" selected disabled hidden>Choose tag</option>
            <option value="sch">Schoolwork</option>
            <option value="ann">Announcement</option>
            <option value="que">Question</option>
            <option value="off">Offering services</option>
            <option value="for">For sale</option>
            <option value="con">Confession</option>
            <option value="mis">Misc</option>
          </select>
          &emsp;
          <p> <input class="btn waves-effect waves-orange" style="font-size: 18px; color: white; background-color: #283593; border-radius: 10px; outline: none;" type="submit" value="share"> </p>
      </fieldset>
      </form>
      <!-- Feed -->
      {% for post in all_posts %}
      <!-- <fieldset id='userfeed'> -->
        <div id='userfeed' class="filterDiv {{ post.type }}">
          <ul>
          <li id="firstline">
             <div>
              <img style="width: 40px; height: 40px; border-radius: 50px; margin: 3px;" src="{{ post.author_pic }}" alt="">
              &ensp;
               {{ post.author_name }}
              <p id="timestamp"> | &ensp; {{ post.timestamp }} </p>
               </div>
            </li>
            <p id="postbody">{{ post.text }}</p>
            <p>
              <img class="post_image" src="{{ post.img_url }}" alt="">
            </p>
            <!-- <p>{{ post.type }}</p> -->
            <li id="miscinfo">
              <form action="/like" method="post">

                    <div>

                </div>

                  <button class="like" type="submit" onclick="like()">
                    <img id="highFive"src="https://static.thenounproject.com/png/1154833-200.png" style="height:20px; width:20px; color: white;display:inline-block;"> &ensp;
                    high five &ensp;   {{ post.score }}
                  </button>

                <!-- {{ post.score }} -->
                <input type="hidden" name="date_time" value="{{ post.date_time }}">
                <input type="hidden" name="score" value="{{ post.score }}">
              </form>

              <form class="" action="/comment" method="post">

                <input id="writecomment" type="text" name="comment" placeholder="Write a comment...">

                <input type="hidden" name="date_time" value="{{ post.date_time }}">
                <input type="hidden" name="author_name" value="{{ first_name }} {{ last_name }}">
                <button class="comment" type="submit">reply</button>

              </form>
               <!-- <form class="" action="/delete" method="post">
                <button type="submit">Delete</button>
                <input type="hidden" name="postDiv" value="{{ post }}">
              </form> -->
              <!-- <br> -->
            </li>
          </ul>
          <div id="allcomments">
            {% for comment in all_comments %}
              <div id="individualcomment" class="">
                {% if comment.post_key == post.key %}
                  {{ comment.author_name}}: {{ comment.text }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  <!-- </fieldset> -->
    <!-- suggested users -->
        <div style="font-family:'Open sans'" id='otherusers'>
          <ul>
            {% for user in all_users %}
              <li>
                <img src="{{ user.dp_url }}" alt="Profile Picture" id='sidepic'>
                {{ user.first_name }}
              </li>
            {% endfor %}
          </ul>
        </div>
  </div>
</center>
  <!-- Javascript -->
    <script type="text/javascript">
      filterSelection("all")

      window.onscroll = function() {myFunction()};

      var dash=document.getElementById('dash');
      var sticky=dash.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          dash.classList.add('sticky')
        } else {
          dash.classList.remove('sticky');
        }
      }

    </script>
  </body>
</html>
