<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>camp·us</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="scripts/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="928270275694-v9phsaerghg67cinbriumsbt05nij68k.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato|Merriweather|Muli|Nanum+Gothic|Open+Sans|Playfair+Display|Poiret+One|Raleway|Roboto');
      @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    </style>
  </head>
  <body onload="foo();">
     <a name="top"></a>
     <!-- to make the sticky -->
    <div id='wrapper' class='sticky'>
      <!-- the header -->
      <div id="header">
        <h1> <a href='index?' style='color: white;'>camp·<span style="color:#ffca28">us</span></h1>
            </div>

        <!-- the top navigation bar -->
      <div id='dash'>
        <ul id='container'>
          <li> <a href='index?'> <i class="large material-icons" id='dashpic '>home</i> </a> </li><br>
          <li id='hello'>Hello, {{ first_name }}!</li>
          <li id='search'>
            <form action="" style='padding-left: 5%;padding-right: 5%;'>
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><img src='https://svgsilh.com/svg/1976105.svg' height='18px'; width='18px'></button>
            </form> </li>
            <li><a href='profile'><img src="{{ dp_url }}" alt="Profile Picture" id='dashpic'></a></li>
      </ul>
      <form class="confirm" action="/" method="get">
          <button type="submit" onclick="signOut()">Return to Login</button>
        <!-- <input type = "submit" value ="Sign-Out" style="float:right"/> -->
      </form>
    </div>
  </div>
    <!-- <div id="dash">
      <ul>
        <li><a id="uni" href="#top"><a/></li>
        <li><a href="settings.html"><img class="icon" src="https://cdn3.iconfinder.com/data/icons/vector-icons-for-mobile-apps-2/512/Settings_black-512.png"></a></li>
        <li><a href="profile.html"><img class="icon" src="https://static.thenounproject.com/png/630729-200.png"></a></li>
      </ul>
    </div> -->
    <!-- the side bar -->
    <div id="nav">
      <div id="myBtnContainer">

        <ul>
          <!-- <li><a href="index.html">General</a></li>
          <li><a href="homework.html">Homework Help</a></li>
          <li><a href="announcements.html">Announcements</a></li>
          <li><a href="confessions.html">Confessions</a></li> -->
          <li><button class="btn active" type="button" onclick="filterSelection('all')">All</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('sch')">Schoolwork</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('ann')">Announcements</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('que')">Questions</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('off')">Offers</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('for')">For sale</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('con')">Confessions</button></li>
          <li><button class="btn" type="button" onclick="filterSelection('mis')">Misc</button></li>
        </ul>
      </div>
    </div>
    <div class="mainbody">
      <!-- to post stuff -->
      <form style="font-family: 'Lato', sans-serif; font-size: 15px; text-align: left;" method="post" action="/index">
        <fieldset id='post'>
          <p> <input style="border: none; font-size: 15px; outline: none;" type="text" name="text" value='Type something...'> </p> &emsp;
          <p> <input style="border: none;font-size: 15px; outline: none;" type="text" name="img_url" value='Insert image url...'> </p>
          <select style="font-size: 15px; width: 15%;" name="type">
            <option value="" selected disabled hidden>post type</option>
            <option value="sch">School</option>
            <option value="ann">Announcement</option>
            <option value="que">Question</option>
            <option value="off">Offering services</option>
            <option value="for">For sale</option>
            <option value="con">Confession</option>
            <option value="mis">Misc</option>
          </select>
          &emsp;
          <p> <input style="font-size: 18px; color: white; background-color: #283593; border-radius: 10px; outline: none;" type="submit" value="post"> </p>
      </fieldset>
      </form>
      <!-- Feed -->
      {% for post in all_posts %}
        <div style="border: 1px solid black; font-family: 'Lato';" class="filterDiv {{ post.type }}">
          <p id="firstline">
            <img style="width: 32px; height: 32px; border-radius: 50px;" src="{{ post.author_pic }}" alt="">
            &ensp; <span style="font-size: 24px;">
              {{ post.author_name }}
            </span>
          </p>
          <p>{{ post.text }}</p>
          <img src="{{ post.img_url }}" alt="">
          <!-- <p>{{ post.type }}</p> -->
          <p>
            {{ post.timestamp.month }}/{{ post.timestamp.day }}/{{ post.timestamp.year}} at
            {{ post.timestamp.hour }}:{{post.timestamp.minute}}
          </p>
        </div>
      {% endfor %}
    </div>

  <!-- Javascript -->
    <script type="text/javascript">
      filterSelection("all")

      window.onscroll = function() {myFunction()};

      var dash=document.getElementbyId('dash');
      var sticky=dash.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          dash.classList.add('sticky')
        } else {
          dash.classList.remove('sticky');
        }
      }
    </script>
  </body>
</html>
