<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>more</title>
    <link rel="stylesheet" href="stylesheets/aboutus.css">

  </head>>
  <body>
    <div>
    <h1 id='header'> Meet more Kirkland CSSI <br> Students and Their Projects</h1>
  </div>
  <div>
    <center>
    <form class="" action="/index" method="get">
      <button id= "button" type="submit" name="button">Return</button>
    </form>
  </div>

  <div id='more'>
    <ul>
      <li> <a href="http://aioryou2018.appspot.com/">AI or You</a> </li>
      <li> <a href="http://dream-pad.appspot.com/">Dreampad</a> </li>
      <li> <a href="http://ma8ictrivia.appspot.com/">Ma8ic Trivia</a> </li>
      <li> <a href="http://myfridge-1532926701519.appspot.com/">My Fridge</a> </li>
      <li> <a href="http://spotify-intersection.appspot.com/">Spotify Intersection</a> </li>
    </ul>
  </div>

  </center>
  </body>
</html>
