<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Campus Connect</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato|Merriweather|Muli|Nanum+Gothic|Open+Sans|Playfair+Display|Poiret+One|Raleway|Roboto');
    </style>
  </head>
  <body>
    <a name="top"></a>
    <div id='wrapper'>
      <div id="header">
        <h1>Class Connect</h1>
      <!--<h2>The social network for your school</h2>-->
        <h2 style='float: right; padding: 10px;'>Sign out</h2>
      </div>
      <div id='dash'>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg" alt="Profile Picture">
    </div>
  </div>
    <!-- <div id="dash">
      <ul>
        <li><a id="uni" href="#top"><a/></li>
        <li><a href="settings.html"><img class="icon" src="https://cdn3.iconfinder.com/data/icons/vector-icons-for-mobile-apps-2/512/Settings_black-512.png"></a></li>
        <li><a href="profile.html"><img class="icon" src="https://static.thenounproject.com/png/630729-200.png"></a></li>
      </ul>
    </div> -->
