<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile</title>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="928270275694-v9phsaerghg67cinbriumsbt05nij68k.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato|Merriweather|Muli|Nanum+Gothic|Open+Sans|Playfair+Display|Poiret+One|Raleway|Roboto');
      @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    </style>
  </head>
  <body onload="foo();">
    <a name="top"></a>
    <div id='wrapper'>
      <div id="header">
        <h1> <a href='index?' style='color: white;'>camp·<span style='color: #ffca28;'>us</span></a></h1>
      <!--<h2>The social network for your school</h2>-->
      </div>
      <div id='dash'>
        <ul id='container'>
          <li> <a href='index?'> <i class="material-icons">home</i> </a> </li><br>
          <li id='hello'>Hello, {{ first_name }}! </li>
          <li id='search'>
            <form action="/action_page.php" style='padding-left:5%;padding-right:5%;'>
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><img src='https://svgsilh.com/svg/1976105.svg' height='18px'; width='18px'></button>
            </form> </li>
          <li> <a href='profile'><img src="{{ dp_url }}" alt="Profile Picture" id='profilepic'></a></li>
        </ul>
    </div>
  </div>
  <div>
    <form class="" action="/profile" method="post" id='profile'>
      <fieldset id='profile'>
        <img src="{{ dp_url }}" alt="Profile Picture" id='mainpic'>
        <h4>Username</h4>
        <ul>
          <br> <li> First Name &ensp; <input id='info' type="text" name="first_name" value="{{ first_name }}"> </li><br>
          <li> Last Name &ensp; <input id='info' type="text" name="last_name" value="{{ last_name }}"> </li><br>
          <li> Email &emsp; &ensp; &ensp; <input id='info' type="text" name="email" value="{{ email }}"> </li><br>
          <li> Image URL &ensp; <input id='info' type="text" name="dp_url" value="{{ dp_url }}"></li>
        </ul>
      </fieldset>
      <p><input id="button" type="submit" name="" value="Submit"></p>
    </form>
    <p>
      <form class="" action="/logout" method="post">
        <button id="button" type="submit" onclick="signOut()">Return to Login</button>
      </form>
    </p>

    <!-- <form class="" action="/" method="post">
      <button type="button" onclick="signOut()" id='signout'>Sign out</button>
    </form> -->
  </div>
  <h3>Your submissions</h3>
  <div id="posts">
    {% for post in user_posts %}
    <div id='userfeed' class="filterDiv {{ post.type }}">
      <ul>
      <li id="firstline">
         <div style="font-size: 24px; display: inline-grid; grid-template-columns: 8% 32% 60%; width: 90%;">
          <img style="width: 40px; height: 40px; border-radius: 50px; margin: 3px;" src="{{ post.author_pic }}" alt="">
          &ensp;
           {{ post.author_name }}
          <p id="timestamp"> | {{ post.timestamp }} </p>
           </div>
        </li>
        <p id="postbody">{{ post.text }}</p>
        <p>
          <img class="post_image" src="{{ post.img_url }}" alt="">
        </p>
        <!-- <p>{{ post.type }}</p> -->
        <li id='miscinfo'>
          <form action="/like" method="post">
            <button class="like" type="submit" onclick="like()">Like   {{ post.score }} </button>
            <!-- {{ post.score }} -->
            <input type="hidden" name="timestamp" value="{{ post.timestamp }}">
            <input type="hidden" name="score" value="{{ post.score }}">
          </form>
          <form class="" action="/comment" method="post">
            <input id='writecomment' type="text" name="comment" placeholder="Write a comment...">
            <input type="hidden" name="timestamp" value="{{ post.timestamp }}">
            <input type="hidden" name="author_name" value="{{ first_name }} {{ last_name }}">
            <button class="comment" type="submit">Reply</button>
          </form>
           <!-- <form class="" action="/delete" method="post">
            <button type="submit">Delete</button>
            <input type="hidden" name="postDiv" value="{{ post }}">
          </form> -->
        </li>
      </ul>
      <div id="allcomments">
        {% for comment in all_comments %}
          <div id="idividualcomment" class="">
            {% if comment.post_key == post.key %}
              {{ comment.author_name}}: {{ comment.text }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>


    <script type="text/javascript">
      function foo() {
        let profile = googleUser.getBasicProfile();
        document.querySelector('td1').innerHTML = profile.getEmail();
      }
    </script>
  </body>
</html>
