<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Campus Connect</title>
    <link rel="stylesheet" href="stylesheets/welcome.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato|Merriweather|Muli|Nanum+Gothic|Open+Sans|Playfair+Display|Poiret+One|Raleway|Roboto');
    </style>
  </head>
  <body>
    <div id="header">
      <h1>Campus Connect</h1>
    </div>
    <div id="intro">
      <h1>Where a campus can become a community.</h1>
      <br>
    </div>
  </body>
</html>
