<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8">
    <title>Campus Connect</title>
    <link rel="stylesheet" href="stylesheets/welcome.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato|Merriweather|Muli|Nanum+Gothic|Open+Sans|Playfair+Display|Poiret+One|Raleway|Roboto');
    </style>
  </head>
  <body>
    <div id="header">
      <h1>Campus Connect</h1>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <div id="intro">
      <h1>Where a campus can become a community.</h1>
      <br>
    </div>
  </body>
</html>
