<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <meta name="google-signin-scope" content="profile email"> -->
    <script src="scripts/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="928270275694-v9phsaerghg67cinbriumsbt05nij68k.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>camp · us</title>

    <link rel="stylesheet" href="stylesheets/welcome.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <style>
      @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Lato|Merriweather|Muli|Nanum+Gothic|Open+Sans|Playfair+Display|Poiret+One|Raleway|Roboto');
    </style>
  </head>
  <body onload="signOut()">
    <div id="header">
      <h1 style="display: inline;">camp·</h1><h1 style="display: inline; color: #ffca28">us </h1>

    </div>
    <div class="container">
        <br>
<center>
      </div>
      <center>
      <div class="circle"><h5 style="display: inline;" >where a campus becomes a </h5><h5 style="display: inline; color:#ffca28">community</h5>
      </div>
      </center>
    </div>
  </center>
  <div class="g-signin2" data-onsuccess="onSignIn" >
    <span class="buttonText" id="round">Google</span>
  </div>
    <form class="confirm" action="/login" method="post">
      <fieldset>
        <div >
        <h4 style="color: white">Please confirm your profile details:</h4>
        <img id="pic" alt="">
        <p style="color: white">Profile picture URL:</p>
        <input id="pic_input" type="text" name="dp_url" value="">
        <p style="color: white"> Email address:</p>
        <input id="email_input" type="text" name="email" value="">
        <p style="color: white">First name:</p>
        <p>
          <input id="firstname_input" type="text" name="first_name" value="">
        </p>
        <p style="color: white">Last name:</p>
        <p>
          <input id="lastname_input" type="text" name="last_name" value="">
        </p>
        <form class="" action="/logout" method="post">
          <button id="button" type="button" onclick="signOut()">Sign out</button>
        </form>
      <input id="button" type="submit" name="" value="Finish">
        </div>
      </fieldset>
    </form>

    <!-- <form class="" action="/aboutus" method="get">
      <button id= "button" type="submit" name="button">About Us</button>
    </form> -->




      <script type="text/javascript">

      </script>
  </body>
</html>
